/* Space out content a bit */
body {
  background-color: rgba(50,50,50,1);
  font-size: 14px;
}
.btn-success, .btn-danger, .btn-primary{
  height: 50px;
  font-weight: bold;
}
.newcomment{
  margin-top: 15px
}
.navbar-default .navbar-nav li a.btn {
  color: #fff;
}
.navbar-default .navbar-nav li a.btn:hover {
  color: #000;
}
.navbar-toggle{
  padding: 20px;
}
.suplist{
  position: relative;
}
.badge{
  position: absolute;
  top: 20px;
  right: 10px;
}
#deallist{
  padding: 0px;
  margin-left: 0px;
}
#deallist h4, #deallist p{
  color:#000;
}
#deallist h4{
  font-weight: bold;
}
#splash{
  margin-top: 15px;
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 500px;
}
#splashbox{
  margin: 0 auto;
}
#fblogin{
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50%;
  max-width: 7600px;
  z-index: 2;
  display: block;
  width: 100%;
  line-height: 35px;
  font-weight: bold;
  font-size: 18px;
}
/* Custom page header */
.header{
  overflow: hidden;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  font-variant: small-caps;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px;
  padding: 10px;
}
.header ul{
  padding: 10px;
}
.mainbox p, .mainbox h2, .mainbox h3, .mainbox h4, .mainbox label, .mainbox th{
  color: rgb(200, 200, 200);
}
.mainbox p{
  font-size: 16px;
}
.btn-danger{
  margin-right: 15px;
}
.successbtn{
  margin-right: 15px;
}
.successrate{
  line-height: 44px;
  font-size: 22px;
}
.panel h3, .panel p{
  color: black;
}
.panel h3{
  font-size: 18px;
}
.panel p{
  line-height: 8px;
}
.commentarea{
  margin-top: 15px;
}
.newcommentarea{
  margin-top: 25px;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  #fblogin{
    position:static;
    float:right;
    max-width: 250px;
    margin-right: 104px;
    margin-top: 20px;
  }
}
.success{
  color: #47a447;
}

.fail{
  color:#d9534f;
}
.infotext{
  margin-top: 20px;
}


/* angularfire:app styles/angularfire.css */
.hide { /* used by ngcloakauth.js */
  display: none;
}

.error { /* used by views/login.html */
  color: red;
}
/* angularfire:app(end) styles/angularfire.css */